<div class="wrap-content">
	<div id="pets-list">
		<% @pets.each do |pet| %>
		<div class="pet shadow">
			<a href="/pets/<%= pet.id %>">
				<% if pet.photos.any? %>
				<img src="<%= pet.photos.first.url %>">
				<% else %>
				<img src="http://placehold.it/300x300">
				<% end %>
			</a>
			<div class="pet-content">
				<h3><%= pet.name.split.first %><small><%= pet.sex %> <%= pet.age %></small></h3>
				<ul class="breeds">
					<% pet.breeds.each do |breed| %>
					<li><%= breed.breed %></li>
					<% end %>
				</ul>
			</div>
		</div>
		<% end %>
	</div>
</div>

<%= javascript_tag do %>
masonryLayout();
<% end %>