<div class="wrap-content">
<% if session[:zipcode] %>
<div id="pets-list">
	<% @pets.each do |pet| %>
	<div class="pet shadow">
		<a href="/pets/<%= pet.id %>"><img src="<%= pet.photos.first.url %>"></a>
		<div class="pet-content">
			<h3><%= pet.name.split.first %><small><%= pet.sex %> <%= pet.age %></small></h3>
			<ul class="breeds">
				<% pet.breeds.each do |breed| %>
				<li><%= breed.breed %></li>
				<% end %>
			</ul>
		</div>
	</div>
	<% end %>
</div>
<% else %>

<% end %>
</div>

<%= javascript_tag do %>
	masonryLayout();
<% end %>