<div class="wrap-content">
	<div class="content">
		
		<% if @pet.photos.any? %>
		<div class="photos">
			<img src="<%= @pet.photos.first.url %>" id="focused" class="shadow">
			<div class="thumb-box">
			<% @pet.photos.each do |image| %>
				<img src="<%= image.url || 'http://placehold.it/350x350' %>" class="thumb shadow">
			<% end %>
			</div>
		</div>
		<% end %>

		<div class="pet-info">
			<h3><%= @pet.name %></h3>
			<ul class="breeds">
				<% @pet.breeds.each do |breed| %>
					<li><%= breed.breed %></li>
				<% end %>	
			</ul>
			<p class="description"><%= @pet.description || "No description is available." %></p>
			<ul class="options">
			<% if @pet.options.any? %>
				<% @pet.options.each do |option| %>
					<li><%= option.option %></li>
				<% end %>
			<% else %>
				<li>No extra information</li>
			<% end %>
			</ul>
		</div>
		
	</div>
</div>