<!DOCTYPE html>
<html>
<head>
	<title>Petsy</title>
	<%= stylesheet_link_tag 'application', media: 'all', "data-turbolinks-track" => true %>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
	<%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body data-controller="<%= params[:controller] %>" data-action="<%= params[:action] %>" data-current-location="<%= session[:zipcode] %>">

	<div class="header">
		<div class="header-content">
			<div class="logo">
				<h1>Petsy<small>The right entrance to a wonderful pet life.</small></h1>
			</div>
			<ul class="menu">
				<li><%= link_to 'Pets', root_path %></li>
				<li>Match</li>
				<li>Discover</li>
				<li><%= link_to 'About', about_path %></li>
				<li><%= link_to 'Contact', contact_path %></li>
			</ul>
		</div>
	</div>
	
	<div class="wrap">
		<%= yield %>
	</div>

</body>
</html>
