<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, user-scalable=no">
		<title>Petsy</title>
		<%= stylesheet_link_tag 'application', media: 'all' %>
		<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<%= javascript_include_tag 'application' %>
		<%= csrf_meta_tags %>
	</head>
	<body data-controller="<%= params[:controller] %>" data-action="<%= params[:action] %>" data-current-user="<%= session[:email] %>" data-current-location="<%= session[:zipcode] %>">

		<div class="header">
			<div class="header-content">
				<div class="logo">
					<h1><%= link_to 'Petsy', root_path %></h1><small>Entrance to a smart pet life</small>
				</div>
				<div class="menu-container">
					<ul class="menu">
						<li><%= link_to 'About this site', about_path %></li>
						<li><%= link_to 'Pets', pets_path %></li>
						<li><%= link_to 'Adoptions', match_path %></li>
						<% if current_user %>
							<li class="dropdown">
							<a class="user-menu-link"><%= current_user.email %></a>
							<ul class="dropdown-list shadow">
								<li><%= link_to "My Account", current_user %></li>
								<li><%= link_to "Sign out", '/sign_out' %></li>
							</ul>
							</li>
						<% else %>
							<li><a class="user-modal-link">Sign in</a></li>
						<% end %>
					</ul>
				</div>
			</div>
		</div>

		<% if params[:controller] != 'static_pages' %>
			<div id="progress-bar">
				<div id="progress">
				</div>
			</div>
		<% end %>

		<div class="wrap">
			<%= yield %>
		</div>

		<div class="overlay"></div>

		<div class="modal shadow" id="sign-in">
			<div class="modal-header">
				<h3>Sign in to Petsy</h3>
			</div>
			<div class="modal-content">
				<div class="sign-in-form">
					<%= form_tag '/sign_in' do %>
						<label>Email</label>
						<p class="email"><%= email_field_tag :email %></p>
						<label>Password</label>
						<p><%= password_field_tag :password %></p>
						<p class="new-users">Are you new to Petsy? <span class="switch">Sign up</span></p>
						<%= hidden_field_tag :path, request.original_url %>
						<p><%= submit_tag "Sign in" %></p>
					<% end %>
				</div>
			</div>
		</div>

		<div class="modal shadow" id="sign-up">
			<div class="modal-header">
				<h3>Sign up to Petsy</h3>
			</div>
			<div class="modal-content">
				<div class="new-user-form">
					<%= form_for User.new do |f| %>
						<label>Email</label>
						<p class="email"><%= f.email_field :email %></p>
						<label>Password</label>
						<p><%= f.password_field :password %></p>
						<label>Password Confirmation</label>
						<p><%= f.password_field :password_confirmation %></p>
						<p class="existing-users">Already a member? <span class="switch">Sign in</span></p>
						<%= f.hidden_field :path, :value => request.original_url %>
						<p><%= f.submit "Sign up" %></p>
					<% end %>
				</div>
			</div>
		</div>

		<% if flash.notice %>
			<div class="notice shadow"><%= flash.notice %></div>
		<% end %>

		<%= javascript_tag do %>
			initializeEvents();
		<% end %>

	</body>
</html>
